body{
    background-image: url(./cool-background\ \(2\).png);
}


.stage{
    height: 320px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .p{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background: #78FED6;
    border-radius: 10px;
    font-family: Century Gothic;
    letter-spacing: 5px;
  }
  .div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 4%;
   transition-duration: 0.2s;
  
  }
  .p:hover{
    background: white;
    color: black;
  }
  .div:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
  }
  .div:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px gray;
  }
  .div:hover{
    transform: rotateY(0);
    background: white;
    color: black;
    box-shadow: 0px 0px 0px;
  }
  


.contanier{
    width: 100%;
    height: 150px;
    background-image: url(/cool-background\ \(2\).png);
}

header nav{
    font-size: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 20px;
    z-index: 100;
    position: relative;
}



.content{
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 15px;
}




.content span{
    color: #241df4;
    font-size: 60px;
    margin-bottom: 15px;
}

.content p{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 20px;
}
.hero-img {
    padding-top: 15px;
    border: 6px solid #f901fc;
    background-color: #07021a;
    border-radius: 10px;
}
.hero-img img{
    width: 380px;
}

.soial-links{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    right: 20px;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}
.soial-links a{
    color: #fff;
    font-size: 22px;
    transition: 0.4s;
}
.soial-links a:hover{
    transform: scale(1.4);
}
.soial-links span{
    color: #fff;
    font-weight: 500;
    transform: rotate(90deg);
    margin-bottom: 40px;
}
#email{
    color: rgb(176, 255, 96);
    font-size: 20px;
}
#contact{
    color: rgb(177, 177, 177);
    font-size: 20px;
}








h2{ /*change font family of heading*/
	font-family: sans-serif;
}

li{ /*style the li tag*/
	list-style-type: none;
	font-family: sans-serif;
}

.skills{ /*style the text*/
	width: 500px;
	margin: auto;
    margin-top: 280px;

	color: #0059c5;
}

.skills li{ /*set margin of li*/
	margin: 20px 0;
}

.bar{ /*style the bar*/
	background-color: #353b48;
	display: block;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span{ /*style the span tag*/
	height: 2px;
	float: left;
	background-color: #2187e7;
}

.html{ /*set skills and animation of html*/
	width: 100%;
	animation: html 2s;
}

.css{ /*set skills and animation of css*/
	width: 93%;
	animation: css 2s;
}

.javascript{ /*set skills and animation of javascript*/
	width: 75%;
	animation: javascript 2s;
}

.React{ /*set skills and animation of React*/
	width: 65%;
	animation: jquery 2s;
}

.AWS{ /*set skills and animation of AWS*/
	width: 50%;
	animation: jquery 2s;
}

@keyframes html{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

@keyframes css{ /*animate css skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 93%;
	}
}

@keyframes javascript{ /*animate javascript skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 75%;
	}
}



@keyframes AWS{ /*animate AWS skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 65%;
	}


}






ul {
    display: flex;
    position: relative;
    bottom: 170px;
    width: 400px;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
 }
 ul li {
   position: relative;
   list-style: none;
   width: 60px;
   height: 60px;
   margin: 0px 20px;
 }
 ul li:before{
   content: '';
   position: absolute;
   bottom: -10px;
   left: -5px;
   width: 100%;
   height: 10px;
   background: #2a2a2a;
   trnasform-origin: top;
   transform: skewX(-41deg);
 }
 ul li:after{
   content: '';
   position: absolute;
   top:5px;
   left: -9px;
   width: 9px;
   height: 100%;
   background: #2a2a2a;
   trnasform-origin: right;
   transform: skewY(-49deg);
 }
 ul li span{
   position: absolute;
   top: 0;
   lef: 0;
   width: 100%;
   height: 100%;
   display: flex !important;
   background: #2a2a2a;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 30px !important;
   transition: 1.5s ease-out;
 }
 ul li:hover span {
   z-index: 1000;
   transition: .3s;
   color: #fff;
   box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
 }
 ul li:hover span:nth-child(5){
   transform: translate(40px, -40px);
   opacity: 1;
 }
 ul li:hover span:nth-child(4){
   transform: translate(30px, -30px);
   opacity: .8;
 }
 ul li:hover span:nth-child(3){
   transform: translate(20px, -20px);
   opacity: .6;
 }
 ul li:hover span:nth-child(2){
   transform: translate(10px, -10px);
   opacity: .4;
 }ul li:hover span:nth-child(1){
   transform: translate(0px, 0px);
   opacity: .2;
 }
 ul li:nth-child(1):hover span{
   background: #0044ff !important;
 }

 ul li:nth-child(3):hover span{
   background: #0089d9 !important;
 }
 ul li:nth-child(4):hover span{
   background: #FCEB00 !important;
 }



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
    
    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 3px;
        width: 10px;
        margin-top: 380px;
        
    }

    .contanier{
        display: flex;
        flex-direction: column;
        position: relative;
        
    }

    

    .hero-img{
        padding-top: 15px;
        border: 6px solid #f901fc;
        background-color: #07021a;
        border-radius: 10px;
    }

    .hero-img img{
        width: 310px;
    }

   
    .skills{ /*style the text*/
        width: 100px;
       
        color: #0059c5;
        position: relative;
        top:800px;
        right: 100px;



    }

    ul{
        width: 270px;
        position: relative;
        top: 900px;
    }
   

   

  }